@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-bricolage:var(--font-bricolage);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  
  font-family:(var(--font-bricolage));
}
.fill-btn {
  position: relative;
  font-size: 20px;
  font-weight: 600;
  border-radius: 50px;
  border: 1px solid #FF4500;
  color: black;
  overflow: hidden;
  cursor: pointer;
  transition: color 0.3s ease-out;
}


.fill-btn:hover {
  color: white;
}

.fill-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background: #FF4500;
  z-index: 1;
  transition: height 0.3s cubic-bezier(0.45, 0, 0.25, 1);
}

.fill-btn:hover .fill-layer {
  height: 100%;
}

.btn-text {
  position: relative;
  z-index: 2;
}
